$dirr: '../';

//Static
$font-weight: 400;
$font-size: 12px;
$line-height: 1;
$font-family: 'WOG', sans-serif;
//

$white: 				#ffffff;
$b:						#000;

$main-text-color:       #ffffff;
$link-color:            #F9FAFB;
$button-color:          #F9FAFB;
$title-color:           linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
$copyright-text-color:  #292929;
