$dirr: '../';

//Static
$font-weight: 400;
$font-size: 12px;
$line-height: 1;
$font-family: 'WOG', sans-serif;
//

$white: 				#ffffff;
$b:						#000;

$maiin-text-color:      #000000;
$link-color-price:      #777777;
$button-color:          #FFFFFF;
$price-color:           #FF6F61;
$copyright-text-color:  #292929;
