.best-sellers {
    max-width: 1920px;
    margin-top: 130px;

    &__wrapper {
        max-width: 1320px;
        margin: 0 auto;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-weight: 500;
        line-height: 52.73px;

        color: #000;

        margin-bottom: 40px;

    }

    &__button {
        background: #1E2832;

        margin-left: 817px;

    }

    &__block-links {
        margin-bottom: 35px;

        color:  #777777;
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
       
    }

    &__link {
        color: #fff;

        padding: 5px 13px;
    }

    &__items {
        display: flex;

    }

    &__text-two {
        margin-top: 24px;

        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
    }

    &__name {
        color:  #777777;

        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
    }

    &__price {
        color: #000;

        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
        
        margin-left: 204px;
    }

    &__full-price {
        color: #777777;

        font-size: 14px;
        font-weight: 600;
        line-height: 19.07px;

        margin-left: 130px;
    }

    &__price-cheap {
        color: #FF6F61;

        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;

        margin-left: 12px;
    }

    
    @media (max-width:1320px){
        &__button {
            position: absolute;
            right: 0;
            margin-right: 24px;
        }
    }

    @media (max-width:1235px) {
        &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        
        gap: 18px;
        }
    }

     
    @media (max-width:917px) {
      &__link {
        padding: 5px 10px;
        width: 80px;
      }
    }

    @media (max-width:659px) {
        &__items {
            grid-template-columns: 1fr;
        }
    } 
    
      
    @media (max-width:500px) {
        &__block-links {
         display: grid;
         grid-template-columns: 1fr 1fr;
         width: 300px;
         gap: 10px;
        }
     }
}