.brand {
    max-width: 1920px;
    margin-top: 124px;

    &__wrapper {
        max-width: 1320px;
        margin: 0 auto;

        display: flex;

    }

    &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 80px;
    }
}