.brand {
    max-width: 1920px;
    margin-top: 124px;

    &__wrapper {
        max-width: 1320px;
        margin: 0 auto;

        display: flex;

    }

    &-items {
        display: flex;
        

        gap: 80px;
    }

    @media (max-width:1319px) {
        &-items {
            gap: 40px;
        }
      }

      @media (max-width:1158px){
        &-items {
            gap: 20px;
        }
      }

      @media (max-width:1078px){
        &-items {
            gap: 10px;
        }
      }

      
      @media (max-width:1078px){
        &-items {
            gap: 5px;
        }
      }
}