.catagory-name {
    margin-bottom: 114px;
    
    &__image {
       display: flex;
       gap: 33px;
    }

    &__block1 {
        display: block;
    }

    &__block2 {
        display: flex;
        justify-content: space-between;
        
    }

    &__img {
        gap: 20px;
    }

    .first {
        margin-bottom: 23px;
    }

    &__button {
        position: absolute;
        right: 0;
        position: relative;
        bottom: 67px;
        left: 28px;
    }

    

        

        
}