@import "../static/mixins.scss";
@import "../static/variable.scss";

.copyright {
    margin: 66px 0 36px;
    
    &__wrapper {
        max-width: 1170px;
        
        margin: 0 auto;
        padding: 0 130px;
        display: flex;
        
    }

    &__list {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: end;

        font-size: 14px;
        font-weight: $font-weight;
        line-height: 0.7;

        color: $main-text-color;

       gap: 54px;

       
    }

    &__text {
        width: 50%;

        
        font-size: 14px;
        font-weight: $font-weight;
        line-height: 0.84;

        color: $main-text-color;
    }

    @include response(424px) {
        &__list {
            gap: 10px;
        }
    }


}



