@import "../static/mixins.scss";

.copyright {
    margin-top: 188.5px;
    text-align: center;

    &__title {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.5;

        color: #E3E4E6;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;

        color: #E3E4E6;
        opacity: 0.5;
    }

    .icon-block {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 72px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;

        color: #E3E4E6;
        opacity: 0.5;
    }
    @include response(1023px) {
        margin-top: 100px;
    }
    

    @include response(424px) {
        .icon-block {
            flex-wrap: wrap;
            gap: 10px;
        }
        .icon {
            width: 25%;
        }
    }

   
}

