.copyright {
    max-width: 1920px;
    background: #1E2832;
    margin-top: 90px;
    padding: 14px 0;


    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 300px;

        .left-side {
            color: #fff;

            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        

       .right-side {
        display: flex;
        align-items: center;

        .copyright-button {
            color: #fff;

            font-size: 12px;
            font-weight: 600;
            line-height: 16px;

            margin-right: 17px;
        }
      
       }
    }

    @media (max-width:1439px){
        &__content {
            padding: 0 150px;
        }
    }

    @media (max-width:1100px){
        &__content {
            padding: 0 100px;
        }
    }



}