@import "../static/mixins.scss";
@import "../static/variable.scss";

.footer {
    margin-top: 98px;
    
    &__wrapper {
        max-width: 1170px;
        
        margin: 0 auto;
        padding: 0 130px;
    }

    &__info-items {
        display: flex;
        align-items: center;
        .item {
            width: 20%;
           

            &__title-logo {
                font-size: 20px;
                font-weight: 500;
                line-height: 1;

                color: $main-text-color;

                margin-left: 7.75px;
            }

            &__line {
                display: flex;
                align-items: center;

                &+.item__line {
                    margin-top: 20px;
                }
            }

            &__text {
                font-size: 16px;
                font-weight: $font-weight;
                line-height: 1.54;

                color: $main-text-color;
                margin-left: 11.5px;
            }

            .link {
                font-size: 18px;
                font-weight: $font-weight;
                line-height: 1.71;

                color: $main-text-color;

                &+.link {
                    margin-top: 5px;
                }
            }

            .link:hover {
                color: rgb(145, 8, 113);
                text-decoration: underline wavy #b018c7;  
                cursor: pointer;
            }

            
            
        }
    }

    @include response(767px) {
        &__info-items {
            flex-wrap: wrap;
        }
        .item {
            width: 33%;
            margin-bottom: 20px;
        }
        
    }

    @include response(520px) {
        .item {
            width: 50%;
            flex-wrap: wrap;  
            order: 1;  
        }
        .link {
            margin-left: 30px;
        }
        
    }

    
    


}
