.footer {
    &__wrapper {
        display: flex;
    }

    &__logo {
        margin-bottom: 17px;
    }

    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;

        margin-bottom: 41px;
    }

    &__adress {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;
        margin-bottom: 16px;
    }

    .mail {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;
        border: 1px solid #000;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 3px;
        max-width: 207px;
    }

    .tel-number {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;
        margin: 4px 0 16px;
    }

    &__block2 {
        margin-left: 196px;
    }

    &__updates {
        .update {
            font-size: 25px;
            font-weight: bold;
            line-height: 37.5px;

            color: #22262A;
            margin-bottom: 24px;
            margin-left: 88px;
        }

        .input {
            max-width: 532px;
            width: 100%;

            border: none;
            margin-bottom: 81px;
            margin-left: 88px;
        }
    }

    &__nav {
        display: flex;
        &:not(:first-child) {
            margin-left: 88px;
        }
    }

    &__shop {
        margin-right: 88px;    
    }

    &__help {
        margin-right: 88px;
    }

   .links {
    display: grid;
    gap: 21px;
   }

   .first {
    margin-bottom: 6px;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #22262A;
   }
}