.footer {
    max-width: 1920px;
    margin-top: 141px;
   
    &__wrapper {
       max-width: 1320px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        .catalog-links,
        .about-us-links,
        .servies-links {
            display: flex;
            flex-direction: column;

            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            color: #292929;
            
            gap: 12px;

            .catalog-link-first,
            .about-us-link-first,
            .servies-link-first {
                font-size: 16px;
                font-weight: 500;
                line-height: 18.75px;

                color: #000;

                margin-bottom: 12px;
            }
        }

        
    }

    &__logo-blocks {
        .f-logo-block {
            display: flex;
            align-items: center; 

            margin-bottom: 30px;
        }

        .f-text-block {
            display: flex;
            align-items: center;

            font-size: 15px;
            font-weight: 400;
            line-height: 20.43px;

            color: #292929;
            margin-bottom: 39px;
        }

        .f-icon-block {
            display: flex;
            align-items: center;

            gap: 36px;
            object-fit: contain;
        }
    }

    &__logo-title {
       
        font-size: 28px;
        font-weight: 400;
        line-height: 33.6px;

        color: #000;

        gap: 10px;
    }


}