@import "../static/mixins.scss";

body {
    background: linear-gradient(90.35deg, #0c2253 0.36%, #b018c7 156%);
    
}

@include response(1023px) {
    .wrapper {
        padding: 0 15px;
    }
}

@include response(767px) {
    .wrapper {
        padding: 0 10px;
    }
}
