.header {
    margin-top: 34px;
    &__wrapper {
        margin: 0 107px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        &__link {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            
            color: #E3E4E6;
            text-decoration: none;
        }

        &__list {
            list-style: none;

            display: flex;
            align-items: center;
            gap: 32px;
            cursor: pointer;
        }

        &__link:hover {
            background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    
}