.header {
    
    max-width: 1920px;
    margin-top: 155px;
    
    &__wrapper {
       max-width:   1320px;
        margin: 0 auto;
        

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-right: 112px;
    }

    &__main-info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 74px;
        font-weight: 300;
        line-height: 55px;

        margin-bottom: 52px;
    }

    &__subtitle {
        font-size: 30px;
        font-weight: 400;
        line-height: 55px;

        margin-bottom: 75px;
    }

    &__button {
        display: flex;
        align-items: center;

        font-size: 29px;
        font-weight: 400;
        line-height: 55px;
        color: #fff;

        border: 2px solid black;
        background: #1E2832;

        width: 224px;
        height: 72px;

            
        &-img {
            margin-left: 27px;
        }

         &-text {
            margin-left: 11.75px;
        }
        
    }
    
    
    &__image {
        width: 424px;
    
        &-container {
            padding-top: 149.76%;
            position: relative;
            .img {
                position: absolute; 
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;   
                object-fit: cover;

            }
            
        }

    }

    @media (max-width:1200px) {
        &__wrapper {
            padding-right: 70px;
        }

        &__main-info  {
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    @media (max-width:700px) {
        margin-top: 70px;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
           
            justify-content: center;
        }

        &__button {
            margin-bottom: 30px;
        }
    }   

    @media (max-width:425px) {
       &__title {
        font-size: 50px;
        margin-bottom: 20px;
       }

       &__subtitle {
        font-size: 20px;
        margin-bottom: 20px;
       }

       &__button {
        font-size: 20px;
            &-img {
                margin-left: 40px;
            }
       }
    }

    
}   