.instagram {
    max-width: 1920px;
    margin-top: 140px;

    &__wrapper {
        max-width: 1320px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 60px;

        font-size: 45px;
        font-weight: 500;
        line-height: 52.73px;
        
        display: flex;
        align-items: center;
        justify-content: center;

       
    }

    &__images {
        display: flex;

        gap: 24px;

        margin-bottom: 70px;
    }

    &__subscribe {
        
        
        .sub-title {
            font-size: 45px;
            font-weight: 500;
            line-height: 52.73px;

            margin-bottom: 80px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sub-input {
            border-top: none;
            border-left: none;
            border-right: none;

            border-bottom: 2px solid #000 ;

            width: 643px;

            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;

            color:  #717171;

            padding-bottom: 10px;
            padding-left: 15px;
        }

        .sub-button {
            border-top: none;
            border-left: none;
            border-right: none;
          
            border-bottom: 2px solid #000 ;

            width: 90px;

            margin-left: 42px;

            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;

            color:  #000;

            padding-bottom: 10px;
        }

        .email-block {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width:1439px){
        &__images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .sub-title {

        }
    }

    @media (max-width:911px) {
        &__title {
            text-align: center;
        }

        .sub-title {
            text-align: center;
        }
    }

   


}