.man-fashion {
    margin-top: 111px;

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;

        color: #22262A;
        margin-bottom: 15px;

        display: flex;
        justify-content: center;
    }

    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;
        margin-bottom: 65px;

        
        display: flex;
        justify-content: center;
    }

    &__items {
        display: flex;
    }

    &__img {
        margin-bottom: 38px;
    }

    &__igure {
        font-size: 15px;
        font-weight: 300;
        line-height: 22.5px;

        color: #22262A;
        margin-bottom: 3px;
    }

    &__subtitle {
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;

        margin-bottom: 3px;
    }

    &__full-price {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #22262A;
    }

    &__cheap-price {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;

        color: #CF2929;
        margin-left: 45px;
    }

}