.new-product {
    // BLOCK-1
    max-width: 1920px;
    margin-top: 140px;

    &__wrapper {
        max-width: 1320px;
        margin: 0 auto;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-weight: 500;
        line-height: 52.73px;

        color: #000;

        margin-bottom: 40px;
    }

    &__block-links {
        display: flex;
        
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;

        color:   #777777;

      
        width: 1320px;
        
        
    }

    &__block-link {
        &-first {
            color: #000;
            margin-right: 34px  ;
        }

        &:not(:first-child) {
            margin-right: 40px;
        }

    }

    &__button {
        background: #1E2832;
        color: #fff;

        display: flex;
        align-items: center;

        padding: 5px 15px;
        margin-left: 817px;
        
        &-link {
            margin-left: 8px;
        }

    }
    // BLOCK-1
    // BLOCK-2
    
    &__content {
        margin-top: 35px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    &__item,
    &__item-glass {
        display: block;

        .text {
            color:  #000000;

            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;

            margin-top: 18px;
            margin-left: 14px;
        }

        .name {
            color:  #777777;

            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;

            margin-top: 15px;
            margin-left: 14px;
            
        }

        .price {
            color: #000;

            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;
            
            margin-left: 175px;
        }

        .price-cheap {
            color:  #FF6F61;

            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;

            margin-left: 12px;
          
        }

        .content {
            position: relative;
            bottom: 58px;
        }

        .full-price {
            margin-left: 130px;

            color: #777777;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.07px;
            

        }

        .under-image {
            position: relative;
            bottom: 25px;
        }
    }

    &__image {
        width: 330px;

        &-container-one {
            padding-top: 118.34%;
            position: relative;

            .image-one {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    &__image {

         &-container-two {
            padding-top: 118.34%;
            position: relative;

            .image-two {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    &__image {

        &-container-three {
           padding-top: 118.34%;
           position: relative;

           .image-three {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;

           }
       }
   }

   &__image {

        &-container-four {
           padding-top: 118.34%;
           position: relative;
           bottom: 24px;

           .image-four {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;

           }

           .sale-button {
            background: #1E2832;

            position: relative;
            bottom: 354px;

            margin-left: 12px;
            
            &__link {
                color: #fff;

                font-size: 12px;
                font-weight: 600;
                line-height: 16.34px;
               
                padding: 4px 12px;
            }
           }
       }


   }

   &__image {

        &-container-five {
        padding-top: 118.34%;
        position: relative;
        bottom: 24px;

            .image-five {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .hot-button {
                background: #FF6F61;

                position: relative;
                bottom: 354px;
    
                margin-left: 12px;
                
                &__link {
                    color: #fff;
    
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16.34px;
                   
                    padding: 4px 12px;
                }
               }
        }
    }

    &__image {

        &-container-six{
        padding-top: 118.34%;
        position: relative;
        bottom: 24px;

            .image-six {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
            .sale-button {
                background: #1E2832;
    
                position: relative;
                bottom: 354px;
    
                margin-left: 12px;
                
                &__link {
                    color: #fff;
    
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16.34px;
                   
                    padding: 4px 12px;
                }
               }
        }
    }

    &__image {

        &-container-seven {
        padding-top: 118.34%;
        position: relative;

            .image-seven {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    &__image {

        &-container-eight{
        padding-top: 118.34%;
        position: relative;

            .image-eight {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    &__content-button {
        display: flex;
        background: #1E2832;
        color:  #FFFFFF;    


        width: 330px;

        align-items: center;

        position: relative;
        bottom: 41px;

        .product-img-search {
            padding: 21px 0 18px;
            margin-right: 102px;
        }

        .one-half {
            display: flex;
            align-items: center;
        }

        .second-half {
            display: flex;
            align-items: center;
        }

        .product-img-love {
            margin-left: 17px;
            margin-right: 26px;
        }

        
       
    }

    &__button-img {
        margin-right: 11px;
    }

    @media (max-width:1319px){
        &__items {
            justify-content: space-evenly;
        }

        &__button {
            margin-left: 734px;
        }
    }

    @media (max-width:1299px) {
        &__button {
            margin-left: 716px;
            position: absolute;
            right: 0;
            margin-right: 75px;
        }
   
    }

    @media (max-width:767px) {
       &__button {
        margin-right: 24px;
       }
    }

    
    @media (max-width:500px) {
        &__block-links {
         display: grid;
         grid-template-columns: 1fr 1fr;
         width: 300px;
         gap: 10px;
        }
    }

    @media (max-width:360px) {
        &__button {
            margin-right: 0;
        }
    }

    
     
    

   

}   