@import "../static/mixins.scss";
@import "../static/variable.scss";

.service {
    margin-top: 127px;
    
    &__wrapper {
        max-width: 1170px;
        
        margin: 0 auto;
        padding: 0 135px;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: $line-height;

        margin-bottom: 30px;
        text-align: center;

        color: $main-text-color;

        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: $font-weight;
        line-height: 1.25;

        text-align: center;
        color: $main-text-color;

        margin-bottom: 40px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

            .item {
                width: calc(31.62% - 15px);
                text-align: center;
               
                box-shadow: 0px 22px 18px 0px #7425250d;
                border: 1px solid;
                border-image-source: linear-gradient(97.12deg, rgba(255, 255, 255, 0.08) -3.52%, rgba(255, 255, 255, 0.07) 100.35%);
                border-radius: 40px;
                padding: 30px 23px;
                
                &__icon {
                    margin-bottom: 19px;
                }

                &__title {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: $line-height;

                    color: $main-text-color;

                    margin-bottom: 17px;
                }

                &__subtitle {
                    font-size: 16px;
                    font-weight: $font-weight;
                    line-height: 1.25;

                    color: $main-text-color;

                    margin-bottom: 24px;
                }

                &__icon {
                    display: inline-block;
                }
                
            }

            &:nth-child(odd) {
                .item {
                    margin: 32px 0 0;
                }
            }
    }
    .learn-more {
        display: flex;
        justify-content: center;
        
        &__link {
            font-size: 16px;
            font-weight: $font-weight;
            line-height: 1.25;

            color: $main-text-color;
            
            margin-right: 2px;
        }
        &__link:hover {
            color: rgb(145, 8, 113);
        }
    }
    
    @include response(767px) {
        .item {
            flex-wrap: wrap;
            width: calc(50% - 15px); 
        }
       }
}