.zara {
    
    background: url(../../img/background-zaraa.png) center center  no-repeat;
    max-width: 1920px;
  
    height: 776px;
    background-size: contain;
    margin-top: 70px;
    

    &__content {
        margin-left: 1200.17px;
        padding-top: 261px;
    }

    &__img {
        height: 81px;
        margin-bottom: 56px;
    }

    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        line-height: 30.47px;

        color: #fff;

        margin-bottom: 66px;
    }

    &__button {
        background: #fff;

        display: block;
        &-link{
            color: #000;
            font-size: 29px;
            font-weight: 400;
            line-height: 55px;

            padding: 9px 30px 8px;
        }
    }

    @media (max-width:1919px) {
        background: url(../../img/background-zaraa.png) center center  no-repeat;
        width: auto;
    
        &__subtitle {
            font-size: 1.35vw;
        }
    
        &__button {
            
            &-link {
                font-size: 1.510vw;
            }
        }
       }
    
       @media (max-width:1628px){
            &__content {
                margin-left: 900.17px;
                background-size: contain;
                
            }
       }

       @media (max-width:1360px) {
        &__content {
            margin-left: 500px;
            background-size: contain;
            padding: 201px;
        }   
       }

       @media (max-width:1204px) {
        &__subtitle {
            width: 600px;
        }
       }

       @media (max-width:1160px) {
        &__content {
            margin-left: 400px;
        }
       }

       @media (max-width:1088px) {
            &__subtitle {
                width: 600px;
                font-size: 18px;
            }

            &__button-link {
                font-size: 18px;
            }
       }

        
       @media (max-width:953px) {
            &__button-link {
                padding: 5px 15px;
            }

            &__subtitle {
                font-size: 18px;
            }

            &__button-link {
                font-size: 18px;
            }

            &__button {
                width: 200px;
            }
        }

       
       @media (max-width:926px) {
        &__button-link {
            
            padding: 5px 15px;
        }

        &__button {
            width: 200ppx;
        }

        &__content {
            margin-left: 300px;
        }

       
       }

       @media (max-width:815px) {
            &__content {
                margin-left: 200px;
            }
        }

        @media (max-width:767px) {
           background: none;
           background: #000;

           &__content {
                margin: 0 auto;
                padding: 200px 300px;
            }
           
        }

        @media (max-width:767px) {
            background: none;
            background: #000;

            &__content {
                position: relative;
                left: -100px;

            }
        }

        @media (max-width:573px) {
            &__content {
                left: -170px;
            }
        }

        @media (max-width:490px) {
            &__content {
                left: -200px;
            }

            &__subtitle {
                font-size: 14px;
            }
            &__button {
                &__button-link {
                    font-size: 14px;
                    padding: 10px 10px;
                }
                
            }

        }
        
       

       
    }

  
   
